<%= form_for([@cocktail,dose]) do |f| %>
  <% if dose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dose.errors.count, "error") %> prohibited this dose from being saved:</h2>

      <ul>
      <% dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :ingredient %>
    <%= f.select :ingredient_id, Ingredient.all.collect { |p| [ p.name, p.id ] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
